*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Serif', 'Georgia', serif;
}

.product-service{
    width: 100%;
    height: 460px;
    display: flex;
}

/* Left Side */
.p-s-content{
    width: 45%;
    background: #FFF0DF;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-s-content h1{
    font-size: 56px;
    color: #4B2E2B;
    line-height: 1.1;
    margin-bottom: 25px;
}

.p-s-content p{
    width: 360px;
    font-size: 16px;
    color: #C08552;
    line-height: 1.8;
    margin-bottom: 30px;
}

.p-s-content button{
    width: 140px;
    height: 45px;
    border: none;
    background: #8C5A3C;
    color: #FFF8F0;
    font-size: 14px;
    cursor: pointer;
}

.p-s-content button:hover{
    background: #6f472c;
}

/* Right Side */
.p-s-gallery{
    width: 55%;
    display: flex;
    overflow: hidden;
}

.p-s-gallery img{
    height: 460px;
    object-fit: cover;
    width: 100%;
}

/* Link to Bouquet, Potted Plants, Services */
.link-p-s{
    display: flex;
    background-color: #FFF8F0;
    justify-content: space-between;
    width: 100%;
}

.link-p-s a{
    font-size: 35px;
    font-family: 'Serif', 'Georgia', serif;
    color: #4B2E2B;
    text-decoration: none;
    cursor: pointer;
}

.fb, .pp, .s{
    flex: 1;
    text-align: center;
    padding: 20px 20px;
    border: 1px solid #C08552;
}

.s{
    background-color: #4B2E2B;
}

.s a{
    color: #FFF0DF;
}

/* For Title */
.section-title {
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    padding: 60px 80px;
}

.section-title::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #C08552;
    margin: 10px auto 40px;
}

.content{
    color: #C08552;
    padding: 10px 10px;
    font-size: 16px;
}

.title{
    color: #4B2E2B;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

/* CTA */
.cta-section {
    padding: 80px 20px;
    background-color: #FFF0DF;
    text-align: center;
}

.cta-content {
    max-width: 700px;
    margin: 0 auto;
}

.cta-title {
    font-size: 34px;
    color: #4B2E2B;
    margin: 0 0 15px;
    font-weight: 500;
}

.cta-text {
    font-size: 17px;
    color: #C08552;
    line-height: 1.7;
    margin: 0 0 35px;
}

.cta-button {
    padding: 14px 40px;
    background-color: #9b5a45;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.cta-button:hover {
    background-color: #7d4634;
}

.cta-button a{
  text-decoration: none;
  color: #FFF8F0;
}